<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="./assets/favicon.png" />
<link rel="stylesheet" href="./styles/global/style.css" />
<script src="http://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<meta name="description" content="A realtime chat application created using Node Js" />
<meta name="keywords" content="Chat app, node, node Js chat application, priyanshk09, priyansh" />
<meta name="owner" content="priyanshkhare4905@gmail.com" />
<meta name="author" content="priyanshk09" />
<title>
  <%= title %>
</title>