<div class="start_new_chat_modal_content_container">
  <div class="start_new_chat_modal">
    <button class="close_modal_button"><i class="fas fa-times"></i></button>

    <div class="modal_content">
      <h2 class="modal_heading">Start a new chat</h2>

      <div class="search_field">
        <input autofocus type="search" placeholder="Enter User name or email" />
      </div>

      <p class="search_error"></p>

      <div class="search_results"></div>
    </div>
  </div>
</div>
