$background: #242936;
$backgroundSecondary: #1a1f29;
$backgroundSecondaryHover: #111722;

$textColor: #cccac2;
$errorColor: #f07178;

$gray: #b8cfe680;

$themeColor: #f29e74;
$themeHover: hsl(20, 83%, 60%);

$themeSecondary: #95e6cb;
$themeSecondaryLessOpacity: #95e6cbc2;
$themeSecondaryHover: hsl(160, 62%, 50%);
