@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");

@import "../var";
@import "../mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
  outline: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $gray;
  border-radius: 100px;
}

body {
  background: $background;
  color: $textColor;
  height: 100vh;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

button,
a,
li,
img {
  user-select: none;
}

h1,
h2,
h3,
p,
span,
a {
  font-weight: 300;
}

button {
  cursor: pointer;
}

main {
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100%;
}

// nav bar
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
  background: $backgroundSecondary;
  border-bottom: 1px solid $background;
  .nav_title {
    color: $themeColor;
    font-family: Jetbrains Mono;
  }
  .nav_links {
    display: flex;
    align-items: center;
    li {
      list-style: none;
      margin-right: 20px;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      &:hover .sub_list {
        transform: scaleY(1);
        visibility: visible;
      }
      .sub_list {
        position: absolute;
        top: 100%;
        right: 0;
        width: 250px;
        background: #1f2831;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.363);
        transform-origin: top;
        transform: scaleY(0);
        visibility: hidden;
        transition: 0.3s;
        li {
          cursor: pointer;
          width: 100%;
          padding: 20px;
          transition: 0.3s;
          border-bottom: 1px solid $gray;
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background: $backgroundSecondaryHover;
          }
        }
      }
      img {
        display: block;
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 100%;
        cursor: pointer;
      }
      &:last-child {
        margin-right: none;
      }
      a {
        color: $textColor;
        transition: 0.5s;
        letter-spacing: 0.5px;
        &:hover {
          color: $themeSecondary;
        }
      }
    }
  }
}

// sign in page content
.sign_in_page_content_container {
  height: 100%;
  display: grid;
  place-items: center;
  .sign_in_form {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 5px;
    background: $backgroundSecondary;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.419);
    h2.sign_in_form_header {
      text-align: center;
      margin-bottom: 20px;
      color: $themeSecondary;
      font-family: Noto Sans Mono;
    }
    form.fields_container {
      width: 100%;
      .single_field {
        width: 100%;
        margin-bottom: 10px;
        input,
        button {
          width: 100%;
          padding: 10px;
          border-radius: 3px;
          border: none;
        }
        input {
          border: 2px solid #fff;
          &:focus {
            border-color: $themeSecondary;
          }
        }
        button {
          @include buttonStyle($themeSecondary, 10px, $themeSecondaryHover);
        }

        .error {
          font-size: 0.8rem;
          color: $errorColor;
          margin-top: 5px;
        }
      }
    }
    .form_footer {
      text-align: center;
      a {
        color: $themeColor;
      }
    }
  }
}

// error page
.error_page_content_container {
  height: 100%;
  display: grid;
  place-items: center;
  overflow-x: auto;
  .error_page_content {
    width: 100%;
    max-width: 300px;
    .error_image {
      width: 100%;
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
    .error_message_and_status {
      text-align: center;
      h2 {
        color: $themeColor;
        margin-bottom: 10px;
      }
    }
  }
}

.content {
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  * {
    cursor: default !important;
  }
}
